<div class = "about-banner">
  <div class = "about-container">
    <h1>Relive Your Favorite Memories</h1>
  </div>
</div>
<div class = "secondary_subheading">
  <h1> No more sorting through photos </h1>
  <p> Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in a new light.</p>
  <%= button_to "Sign Up", '/signups/new', :class => "signup-button", :method => :get %>
</div>
