<div id="sidr">
        <ul>
            <li><a href="#">Menu Item 1</a></li>
            <li><a href="#">Menu Item 2</a></li>
            <li><a href="#">Menu Item 3</a></li>
        </ul>
</div>
    <div class = "main">
      <a id="simple-menu" href="#sidr"><img class = "menu-button" src = "https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg"/></a>
    <div class = "main_container">
      <h1>Start your journey</h1>
      <button type = "button">Learn More</button>
    </div>
  </div>
  <div class = "secondary_subheading">
    <h2>Relive your adventures</h2>
    <h3>Share your pictures</h3>
  </div>
  <div class = "secondary_main">
  </div>
  <div class = "discover">
    <h2>Discover Stories</h2>
    <button type = "button">Learn More</button>
  </div>
  <div class = "footer">
    <p>Joshua Cho</p>
  </div>
