<div class = "main-banner">
  <div class = "main-container">
    <h1>Start your journey</h1>
    <%= button_to "Learn More", about_path, :class => "learn-button", :method => :get %>
  </div>
</div>
<div class = "secondary_subheading">
  <h2>Relive your adventures</h2>
  <h3>Share your pictures</h3>
</div>

<div class = "secondary_main">
</div>

<div class = "discover">
  <h2>Discover Stories</h2>
  <%= button_to "Learn More", about_path, :class => "learn-button", :method => :get %>
</div>
